.link {
	// color: $white;
	&:hover {
		color: $white;
		text-decoration: none;

		.link__hover {
			text-decoration: underline;

			// &.btn-overlay {
			// 	background-color: rgba($black, .2);
			// 	text-decoration: none;
			// } 

			// @each $color, $value in $theme-colors {
			// 	&.btn-#{$color}-darken {
			// 		text-decoration: none;
			// 		@include button-variant(darken($value, 10%), darken($value, 7%));
  	// 				// box-shadow: none;
			// 	}
			// }
		} 
	} 
}
 

// .btn-overlay {
// 	&:after {
// 		content: '';
// 		display: inline-block;
// 		width: 100%;
// 		height: 100%;
// 		background-color: rgba($black, .12);
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 	    border-radius: 0.25rem;
//     	border: 1px solid transparent;
// 	}
// }


// @each $color, $value in $theme-colors {
//   .btn-#{$color}-darken {
//   	font-size: .9rem; 
//     @include button-variant(darken($value, 5%), darken($value, 5%));
//   	box-shadow: none;
//     // @include box-shadow(none);
//   }
// }
 