.main-footer{
 

    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;   
    font-size: 1rem;
    z-index: 1;

    // box-shadow: inset 1px 1px 1px 0px $gray-500;
    @include bp('md') {
		position: absolute;  
    } 
    // position: static;
    // bottom: 0;
    // color: $white; 
    // text-align: left;
    // text-transform: uppercase;
    // padding-top: 1rem;
    // padding-bottom: 1rem;

    // border-bottom: 5px solid darken($green-dark, 5);
    /* padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;	  
	color: initial;
	@include bp(tablet){ 
		position: absolute;
	}    */
}

 
 
 