 .nav-small {
	// display: none;
    width: 14rem;
    height: 100%;
    margin: 0;
    padding-top: 1rem; 
    position: fixed;
    top: 0;
    right: -14rem;
    bottom: 0;
    z-index: 0;
    transition: all 0.2s;
    background-color: $white;
    overflow: auto;
	text-transform: uppercase;
	font-weight: 600;
    
} 
/*
.nav-large {
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 1rem;
	// float: right;
	// text-align: right;
}
.nav__list {
	position: relative;
	// &:hover {
	// 	.nav__list-item {
	// 		display: block;
	// 	}
	// }

}
.nav__list-item {
	display: none;
	position: absolute; 
    min-width: 100%;
    text-align: left;
    background-color: $white ; 
    padding: 1rem !important;
    &--w130 {
    	width: 130px;
    }

    &.open-drawer {
    	display: block;
    }
}

.nav__link {  
    font-size: 1rem;
    color: $blue;
    line-height: 2em; 

    &--desktop {
    	display: inline-block;
    	// padding-left:   .5rem;
    	padding-right:   .5rem;
    	/* border-bottom-width: 2px;    
    	border-bottom-style: solid;
    	border-bottom-color: $blue-light;    	

	    &:hover, &.is-active{  
	    	border-bottom-color: tint($blue-light,  20%);
	    } 
	    &:first-child {
	    	padding-left: 0;
	    }  

    } 
    &--block {
    	display: block; 
    }
    &--mobile {
    	color: $white;
    	display: block;
    	padding-left: 1.5rem;
    	font-size: 1em;
    	line-height: 2em;
    } 

    &.has-child {
    	padding-right: 1.5rem;

		&:after { 
	    position: absolute;
	    right: 6px;
	    top: 9px; 
	    content: '';
	    position: absolute; 
	    width: 9px;
	    height: 9px;
	    border-top: solid 3px currentColor;
	    border-right: solid 3px currentColor;  
          @include rotate(135deg) ;
		}
    }
}
 */
.nav__burger {	 
	// position: absolute;
	// right: 0;
    height: 2rem;
    width: 2rem; 
    // margin-right: 1.5rem; 
    cursor: pointer; 
    z-index: 2;
}

.nav__patty{
	display: inline-block;
	width: 100%;
	height: .25rem;
	background-color: $white;
	transition: 0.3s;
	position: relative;
	&:before{
		top: .5rem;
	}
	&:after{
		top: -.5rem;
	}
	&:before, &:after{
	    display: inline-block;
		width: 100%;
	    height: .25rem;
		background-color: $white;		    
	    transition: 0.3s;
	    position: absolute;
	    left: 0;
	    content: '';
	    transform-origin: 0.28571rem center;
	}
	
}  
/* 
.nav-sub {
	background-color: $grey-darker; 
	text-align: center;
	&__link {
		display: block;
		padding: .5rem; 
		color: $white;
		
		&:hover, &.is-active {
			background-color: $green;
		}
	}
}
  */
.open-drawer{    
    overflow-x: hidden;

    & .nav-small {        
        transition: all 0.2s;
        right: 0;
    } 

    & .nav__patty {
        background: transparent; 
        &:before, &:after{
          transform-origin: 50% 50%;
          top:0;
          width: 30px;
        } 
        &:before{
          transform: rotate3d(0,0,1,45deg); 
        }
        &:after{
          transform: rotate3d(0,0,1,-45deg); 
        }
    }

    & .main-wrapper {
        transition: all 0.2s;
        right: 14rem;
        left: -14rem;
        height: 100%;
        overflow: hidden;
    }
} 